<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth.mapper.MenuMapper">
  
  <resultMap id="BaseResultMap" type="auth.model.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_auth_menu where id in
    <foreach item="item" collection="list" open="(" separator="," close=")">
    	#{item}
    </foreach>
  </delete>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="auth.model.Menu">
    insert into user_auth_menu (
    		enabled, 
    		name, 
      		pid, 
      		REVISION, 
      		CREATED_BY, 
      		CREATED_TIME, 
      		UPDATED_BY, 
      		UPDATED_TIME
      )
    values (#{enabled,jdbcType=INTEGER}, 
    		#{name,jdbcType=VARCHAR}, 
      		#{pid,jdbcType=INTEGER}, 
      		#{revision,jdbcType=INTEGER}, 
      		#{createdBy,jdbcType=VARCHAR}, 
      		#{createdTime,jdbcType=TIMESTAMP}, 
      		#{updatedBy,jdbcType=VARCHAR}, 
      		#{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="auth.model.Menu">
    update user_auth_menu
    set enabled = #{enabled,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      REVISION = #{revision,jdbcType=INTEGER},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, enabled, name, pid, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
    from user_auth_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPid" resultMap="BaseResultMap">
    select id, enabled, name, pid from user_auth_menu
    where 1 = 1
	<choose>
		<when test="id == null">
			and pid is null
		</when>
		<otherwise>
			and pid = #{id}
		</otherwise>
	</choose>
  </select>
  
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
	select id, enabled, name, pid, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
	from user_auth_menu
	where name = #{name}
  </select>
  
</mapper>