<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="auth.mapper.ModuleMapper">
	
	<resultMap id="BaseResultMap" type="auth.model.Module">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="enabled" jdbcType="VARCHAR" property="enabled" />
		<result column="REVISION" jdbcType="INTEGER" property="revision" />
		<result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
		<result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
		<result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
	</resultMap>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_auth_module where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="auth.model.Module">
		insert into user_auth_module (name, enabled, REVISION, CREATED_BY, CREATED_TIME,UPDATED_BY, UPDATED_TIME)
		values (#{name,jdbcType=VARCHAR},
				#{enabled,jdbcType=VARCHAR},
				#{revision,jdbcType=INTEGER}, 
				#{createdBy,jdbcType=VARCHAR}, 
				#{createdTime,jdbcType=TIMESTAMP},
				#{updatedBy,jdbcType=VARCHAR}, 
				#{updatedTime,jdbcType=TIMESTAMP})
	</insert>
	
	<update id="updateByPrimaryKey"
		parameterType="auth.model.Module">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update user_auth_module
		set name = #{name,jdbcType=VARCHAR},
		enabled = #{enabled,jdbcType=VARCHAR},
		REVISION = #{revision,jdbcType=INTEGER},
		CREATED_BY = #{createdBy,jdbcType=VARCHAR},
		UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
		UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select 
			id, 
			name, 
			enabled, 
			REVISION, 
			CREATED_BY, 
			CREATED_TIME,
			UPDATED_BY, 
			UPDATED_TIME
		from user_auth_module
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
			id, 
			name, 
			enabled, 
			REVISION, 
			CREATED_BY, 
			CREATED_TIME,
			UPDATED_BY, 
			UPDATED_TIME
		from user_auth_module
		where name = #{name}
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select 
			id, 
			name, 
			enabled, 
			REVISION, 
			CREATED_BY, 
			CREATED_TIME,
			UPDATED_BY, 
			UPDATED_TIME
		from user_auth_module
		where 1=1
		<if test="name != null and name != ''">
			and name like concat('%', #{name}, '%')
		</if>
		<if test="createdBy != null and createdBy != ''">
			and CREATED_BY like concat('%', #{createdBy}, '%')
		</if>
		<if test="updatedBy != null and updatedBy != ''">
			and UPDATED_BY like concat('%', #{updatedBy}, '%')
		</if>
		<if test="createdStartTime != null and createdStartTime != ''">
			and CREATED_TIME <![CDATA[ >= ]]> #{createdStartTime}
		</if>
		<if test="createdEndTime != null and createdEndTime != ''">
			and CREATED_TIME <![CDATA[ <= ]]> #{createdEndTime}
		</if>
	</select>
	
</mapper>